[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
faker = "*"
dataclasses-json = "*"
kafka = "*"
kafka-python = "*"
kafka-python-ng = "*"
psycopg2-binary = "*"
spark = "*"

[dev-packages]
types-six = "*"
ruff = "*"

[requires]
python_version = "3.12"
